/* Signature 1 */
#pilihkelas:hover {
    cursor: pointer;
}

#signframe {
    padding-left: 25px;
}

#frame {
    border-right: 3px solid #78828A;
}

#render {   
    border: 0.5px solid grey;
    border-radius: 5px;
}

#signcanva {
    margin: auto;
    display: none;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    position: relative;
}

#signature-frame {
    display: none;
    border-radius: 5px;
}

#signature-result {
    margin: auto;
    border-radius: 5px;
    display: none;
    cursor: pointer;
    text-align: center;
    image-rendering: crisp-edges;
}

/* btn add modal signature */
#plus {
    font-size: 11px;
}