/* Signature */
#pilihkelas:hover {
    cursor: pointer;
}

#signframe {
    padding-left: 25px;
}

#frame {
    border-right: 3px solid #78828A;
}

#holder {
    background: lightgrey;
    max-height: 875px;
    border-radius: 5px;
    overflow-y: scroll;
}

#render {
    padding: 1px;
    margin-bottom: 10px;
}

canvas {
    padding: 1px;
    margin: 0 auto;
    display: block;
    border: 0.5px solid lightgrey;
}

#signcanva {
    margin: auto;
    display: none;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    position: relative;
}

#signature-frame {
    padding: 1px;
    display: none;
    border-radius: 5px;
}

#signature-result {
    margin: auto;
    border-radius: 5px;
    display: none;
    cursor: pointer;
    text-align: center;
    image-rendering: crisp-edges;
}

/* btn add modal signature */
#plus {
    font-size: 11px;
}